.container{
    background-color: azure;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding-top: 50px;
}

.button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 1px brown solid ;
}

.button-1 {
    height: 50px;
    width: 250px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #11009E 0%, #8696FE 100%);
    color: #cccccc;
    font-weight: bold;
    transition-duration: 3s;
    transition: ease-in;

}
.button-1:hover {
    background: #11009E;
    box-shadow: 0 5px 5px #8696FE;
}

.button:active {
    background: #11009E;
}

.button-2 {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content : space-around;
    align-items: center;
    background-color: #0092A9;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-right : 0;
}
.button-2-text {
    color: #fff;
    font-size: 1.5em;
    flex: 1;

}
.button-2-icon {
    background-color: rgba(0, 0, 0, .15);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.button-2:hover {
    background-color: #116E92;
    box-shadow: 0 3px 2px #0092A9;
}


.button-3 {
    background-color: #A7233A;
    border: none;
    outline: none;
    color: #FBAE3C;
    height: 60px;
    width: 180px;
    border-radius: 30px;
    font-size: 20px;
    transition: 100ms;
}


.button-3:hover {
    height: 120px;
    width: 120px;
    border-radius: 60px;
}
